.posters
	&__list
		font-size 0
		&__poster
			width 100%
			padding 7%
			box-sizing border-box
			display inline-block
			&__image
				width 100%
				box-shadow 17px 17px 14px -10px rgba(0, 0, 0, .45)
	
	// responsive
	@media (min-width: 639px)
		&__list__poster
			width 50% 
			padding 2%
	// @media (min-width: 1024px)
		